// Define variables for your color scheme

// For example:
$red: #E8E1EA;
$blue: #5797B6;
$yellow: #E7CC7C;
$orange: #F2BE90;
$green: #E3EAE1;
$gray: #969696;
$light-gray: #F4F4F4;
$light-brown: #987213;
$brown: #2E2708;
$purple: #7C97E7;
