// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #5797B6;
$yellow: #E7CC7C;
$orange: #E67E22;
$green: #A2B99C;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-brown: #987213;
$brown: #2E2708;
