// Specific CSS for your home-page
.title-header {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  color: darkorange;
  height: fit-content;
  text-shadow: 0px -2px yellow;
}

.title-tagline {
  font-family: 'Fira Sans', sans-serif;
  height: fit-content;
  font-size: 2rem;
  color: darkorange;
  text-shadow: 0px -1px darkorange;
}

.input-field {
  border-radius: 2px;
  border-width: 0;
  padding: 0px 3px;
  height: 2rem;
}

.hero-banner {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)),
    url(https://res.cloudinary.com/abandolon/image/upload/v1570124042/letsplay-hero.jpg);
  height: 75vh;
  padding: 15vh;
  color: white;
  margin-bottom: 10px;
  background-size: cover;
  text-align: center;
}

.card-container {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "cah cah cah cah"
    "cas caa cab cam";
}

.card-title i {
  font-size: 80px;
  color: darkorange;
  text-shadow: -1px -2px gray;
}
.card-header {
  grid-area: cah;
}

.sign {
  grid-area: cas;
}

.add {
  grid-area: caa;
}

.browse {
  grid-area: cab;
}

.msg {
  grid-area: cam;
}

@media (max-width: 991px) {

  .hero-banner {
    height: 60vh;
    padding: 2vh;
  }

  .title-header {
    font-size: 3rem;
  }

  .form {
    width: 91vw;
  }

  .link {
    margin: 24px 0;
  }

  .card-container {
    grid-template-areas:
    "cah"
    "cas"
    "caa"
    "cab"
    "cam";
  }

  .card-title i {
    font-size: 60px;
  }
}
