.container {
  width: 95vw;
  margin: 10px auto;
}



.link {
  margin: 30px;
}

.form {
  width: 50vw;
  margin: 0 auto;
}
.bg-display {
  display: flex;
  flex-direction: row;
}

.bg-show {
  border-radius: 4px;
  box-shadow: $purple 0px -1px 2px;
  display: grid;
  height: 250px;
  width: 200px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 15px 10px;
  background-color: $yellow;
  font-weight: bold;

  a {
    text-decoration: none;
    margin-top: 1rem;
    color: $blue;
  }
}

.boardgame-thumb {
  object-fit: contain;
  width: 150px;
  height: 120px;
}

@media (max-width: 991px) {

  .bg-show {
    margin: 15px auto;
  }

  .container {
    min-height: 90vh;
  }

}
