.container {
  width: 95vw;
  margin: 10px auto;
}

.hero-banner {
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.6)),
    url(https://images.unsplash.com/photo-1563941402830-3bae42b67b38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  height: 75vh;
  padding: 15vh;
  color: white;
  margin-bottom: 10px;
  background-size: cover;
  text-align: center;
}

.link {
  margin: 30px;
}

.form {
  width: 50vw;
  margin: 0 auto;
}
.bg-display {
  display: flex;
  flex-direction: row;
}

.bg-show {
  border-radius: 4px;
  box-shadow: $purple 0px -1px 2px;
  display: grid;
  height: 250px;
  width: 200px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 15px 10px;
  background-color: $yellow;
  font-weight: bold;

  a {
    text-decoration: none;
    margin-top: 1rem;
    color: $blue;
  }
}

    .boardgame-thumb {
      object-fit: contain;
      width: 150px;
      height: 120px;
    }
