.bg-content {
  display: grid;
  // grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-gap: 10px;
  grid-template-areas:
    "aff aff hed hed hed hed hed"
    "bim bim det det det req req"
    "bim bim det det det req req"
    "bim bim des des des des des"
    "vid vid des des des des des"
    "vid vid des des des des des"
    "img img des des des des des"
    "img img des des des des des"
    "img img des des des des des"
    "... ... des des des des des";
}

.bg-header {
  grid-area: hed;
  font-size: xx-large;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-self: center;
  color: $blue;
  border-bottom: 1px solid $purple;
}

.bg-image {
  grid-area: bim;
  margin: auto 0;
  max-width: 100%;
}

.bg-description {
  grid-area: des;
  height: auto;
  flex: shrink;
}

.bg-details {
  grid-area: det;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px;
}

.bg-gameplay {
  grid-column: span 1;
}

.mechanic-list {
  grid-column: span 1;
}

.category-list {
  grid-column: span 1;
}
.images {
  grid-area: img;
  display: grid;
  background-color: grey;
  height: 100%;
}

.image-gallery-item {
  width: 100%;

}
.videos {
  grid-area: vid;
  iframe {
    width: 100%;
  }
}

.request {
  grid-area: req;
  .modal-link {
    border: 1px solid $purple;
    background-color: $yellow;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 3px 5px;
    color: black;
    }
    a :hover {
      background-color: $blue;
      text-decoration: none;
    }
}


#aff-link {
  grid-area: aff;
  border: 1px solid $blue;
  background-color: $yellow;
  border-radius: 4px;
  text-align: center;
  height: 1.5rem;
  width: 100%;
  margin: auto;
  a {
    color: black;
    font-weight: bold;
  }
}


@media (max-width: 991px) {

  .bg-content {
    grid-template-areas:
      "hed"
      "bim"
      "vid"
      "vid"
      "aff"
      "aff"
      "req"
      "des"
      "det"
      "img";
  }

  .bg-details {
    display: block;
  }

  #aff-link {
    height: 100%;
  }

  .request {
    .modal-link {
      width: 60vw;
      margin: 10px auto;
    }
  }
}
