<div class= "form text-center">
  <%= simple_form_for(@boardgame, url: boardgames_search_path) do |f| %>
  <p>Add your Boardgames to our Collection</p>
      <%= f.input_field :name, label: false, placeholder: "Name of Boardgame", class: "input-field" %>
      <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>
