.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid $blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
