<div class="container">
  <p>All Our Boardgames</p>
    <div class="bg-display text-center row">
      <% @boardgames.each do |bg| %>
        <div class="bg-show">
          <%= link_to bg.name, boardgame_path(bg) %>
          <%= link_to image_tag(bg.thumb_url, class: "boardgame-thumb"), boardgame_path(bg)  %>
        </div>
      <% end %>
    </div>
</div>
